*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: white;
    font-size: 4.2rem;
    text-align: center;
    margin-bottom: 30px;
}
h2{
    color: black;
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 40px;
}
p{
    color: gray;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 50px;
}
h3{
    font-size: 1.5rem;
}
.link-btn{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 18px 25px;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 6px;
}

/* header css start here */

.header{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.9)), url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.header-items p{
    color: white;
    margin-bottom: 30px;
}

/* header css end here */

/* donate today css start here */

.donate-today-area{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donate-amount{
    width: 60%;
    height: 150px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.amount{
    width: 135px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.02);
    border-radius: 6px;
    font-size: 2.1rem;
    font-weight: 700;
    color: #777;
}
#active-amount{
    border: 3px solid #FF5959;
    color: #FF5959;
    background-color: rgba(255, 89, 89, 0.2);
}
#input-amount{
    width: 760px;
    height: 60px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) ;
    font-size: 1.2rem;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 25px;
}

/* donate today css end here */

/* donate plan css start here */

.donate-plan-area{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.plan-items{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.plan-card{
    height: 280px;
    width: 330px;
    padding: 50px 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
}
.plan-card img{
    width: 50px;
}
.plan-card p{
    text-align: left;
    margin: 0;
    font-size: 1.1rem;
}
#first-card-item{
    background-color: rgba(79, 157, 166, 0.1);
}
#second-card-item{
    background-color: rgba(255, 89, 89, 0.1);
}
#third-card-item{
    background-color: rgba(255, 244, 214, 0.8);
}

/* donate plan css end here */

/* donation info area css start here  */

.donation-info-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info-items{
    width: 78vw;
    height: 90vh;
    display: flex;

}
.half-width{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.half-width img{
    height: 80%;
    border-radius: 8px;
}
.info-card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 90%;
}
.info-card h2{
    text-align: left;
    margin: 0;
}
.info-card p{
    text-align: left;
    margin: 0;
}

/* donation info area css end here  */
 /* get-update-area css start here  */

.get-update-area{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.get-update-area h2{
    margin: 0;
}
.get-update-area p{
    margin: 0;
}
.subscribe-area{
    height: 220px;
    width: 58%;
    background-color: rgb(255, 244, 214);
    display: flex;
    justify-content: center;
    align-items: center;
}
#email-sub{
    padding: 15px;
    font-size: 1rem;
    border: none;
    border-radius: 8px 0px 0px 8px; 
    width: 260px;
    background-color: #ddd;
}
#sub-btn{
    font-size: 1rem;
    border-radius: 0px 8px 8px 0px;
    padding: 15px 25px;
    font-weight: 400;
}
 /* get-update-area css start here  */ 
 /* footer css start here  */

footer{
    height: 30vh;
    width: 100vw;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
footer h2{
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-size: 2.5rem;
    margin: 0;
}
footer p{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 0.8rem;
}
 /* footer css end here  */






.Volunteer-area{
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.members{
    width: 70%;
    height: 280px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.member-card{
    width: 20%;
    height: 100%;
}
.member-card img{
    width: 100%;
    height: 85%;
}
.vol-info{
    width: 40%;
    height: 180px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.vol-info-area{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vol-info-area img{
    width: 40px;
}